<form [formGroup]="form" (ngSubmit)="submit()">
  <label>
    Competition Name:
    <input formControlName="competition_name" />
  </label>

  <label>
    Sport:
    <select formControlName="sport_id">
      <option [ngValue]="null">-- Select Sport --</option>
      <option *ngFor="let s of sports" [value]="s.id">{{ s.name }}</option>
    </select>
  </label>

  <label>
    Start Date:
    <input type="date" formControlName="start_date" />
  </label>

  <label>
    End Date:
    <input type="date" formControlName="end_date" />
  </label>

  <label>
    Max Participants:
    <input type="number" formControlName="max_participants" />
  </label>

  <label>
    <input type="checkbox" formControlName="flag_teams" />
    Competition is for teams (uncheck for individual athletes)
  </label>

  <button type="submit" [disabled]="form.invalid">Create</button>
</form>