<h1>Athlete Dashboard</h1>

<div class="athlete-dashboard">

    <div class="button-row">
        <button type="button" [routerLink]="['/competition-signup']">Individual competititons</button>
        <button type="button" [routerLink]="['/team-signup']">Team competitions</button>
        <button type="button" [routerLink]="['/team-create']">Create team</button>
        <button type="button" [routerLink]="['/team-manage']">My teams</button>
    </div>


  <div class="athlete-performance">
    <h2>Performance Statistics</h2>
    
  </div>